body {
	background-image: url(https://dzdx4ocwzatbw.cloudfront.net/sites/abmp.com/themes/abmp/images/generic_bg.jpg)
	
}


	#enrollment-modal-footer{
		text-align: center;
		background-color: white;
	}
	legend{
		text-align: center;
		background-color: #3c83bf;
		color:white;
	}
	.legend1{
		
		color: black;
	
		margin: 0 auto;
	}
	#formHelp{
		text-align: center;
	}
	.popup-button {
		margin-left: 140px;
		margin-top: 77px;
		font-weight: bold;
	} 

.container-main {
	display: flex;
	flex-direction: row;
 background-color:#3c83bf;
    height: 150px;
    width: 60%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;;
    font-size: 50px;
    color: white;
  text-align: center;
  margin: 0 auto;
padding-top:3%;
padding-left: 7%;




}


.navbar {
	width: 60%;
	margin: 0 auto;
	display: flex;
	align-content: center;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:16px;
}

#main-section {
	height: 500px;
	width: 60%;
	margin: 0 auto;
	background-color:#3c83bf;
	opacity: 0.9;
	color: white;
	border: solid;
	border-color: white;
	text-align: center;


}
/* Icons on index */
.payment{
	height: 500px;
}

#enrollment-modal{
	margin-left: 2%;
}
/* Index intro */
.intro {
	text-align: left;
	border:solid;
	border-color: white;
	width: 60%;
	height: 150px;
	font-size: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	
}
/* Student Submit intro */
#studentIntro {
	background-color: #569fd3;
	font-size: 18px;
	color: white;
	width: 100%;
	text-align: center;
	line-height: 80px;
	font-weight: 300;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

/* Pay Invoices intro */
#invoiceIntro {
	background-color: #569fd3;
	opacity: .8;
	text-align: center;
	padding-top: 2%;
	color:white;
	width: 100%;
	margin: 0 auto;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	
	
}
#form-header{
	background-color:  #569fd3;
	color: white;
	font-family: 'Barlow', sans-serif;
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 5px;
}

#renewal-form{
	border: 2px, solid;

	border-color:  black;
}
.main-section-form{
	background-color: ghostwhite;
	width: 60%;
	margin: 0 auto;
}
#schoolRenewIntro {
	text-align: center;
	padding-top: 5%;
	width: 100%;
}

#calc-modal{

	background-color: #8eb519;
	width:300px;
	height: 380px;
}

/* Index */
.whatsNew {
	background-color:#8eb519;
	font-family: cursive;
	text-align: center;
	
	font-size: 24px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* Index Icon row */
.iconsRow {
display: flex;
justify-content: center;
flex-direction: row;

align-content: space-around;

} 
#studentCard{
	margin-right: 5%;
}

#invoiceCard{
	margin-right: 5%;
}

#renew {
	font-size: 14px;
}

#main-section-student{
	height: 500px;
	width: 60%;
	margin: 0 auto;
	background-color:#3c83bf;
	opacity: 0.9;
	color: white;
	border: solid;
	border-color:white;
	padding-bottom: 10%;
}
	
/* submit student icon row */
.iconsRowStudent {
	padding-top: 5%;
	width: 70%;
	justify-content: center;
	margin:0 auto;
	display: flex;
	height: 300px;
	flex-direction: row;
	
	align-content:space-between;
	
		
	}
.order-inst{
	text-align: center;
}

.order-paragraph{
	font-size: 14px;

}
#please-note{
	color: #3c83bf;
	text-decoration: none;
	background-color: ghostwhite;
}

/* Submit student specific cards */
#excelCard {
	margin-right: 10%;
	margin-left:40%;
	width: 22%;
	height: 46%;
}
#mailCard {

	/* padding-bottom: 5%; */
	height: 46%;
	width: 21%;
}
.card {
	height: 80px;
	width: 22%;
	
	color: black;

}



.sendToPdfFillerEmpty {
	display: none;
}

.sendToPdfFiller{
	display: none;
}

/* All cards */
.card-text {
	background-color: white;
	color: black;
	font-size: 14px;
}
.card-body{
	background-color: white;
}
.card-img-top{
	background-color: white;
}


.studentIcons {
	padding-top: 8%;
}

.card:hover{
opacity: 0.5;
}


 /*renewMembership:*/
 .renewBtn{
	 background-color: white;
 }


/* Pay invoices page */
.tableDiv {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	padding-top: 5%;
	background-color: white;
	color: black;
	 border-color: grey;
	 border:solid;
}
 #schoolTable {
	 font-size: 14px;
 }
#schoolMember{
	font-size: 14px;
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.btn-warning{
	color: white;
}



.payBtn {
	background-color: #8eb519;
}

#coiBtn {
	background-color: white;
	color: black
}

#aieBtn {
	background-color: white;
	color: black;

}

#memberOptions{
	padding-top: 5%;
	height: 150px;
	background-color: white;
}

.signature-pad {
	margin: auto;
	height: auto;
  }
  
  .signature-pad--body {
	min-height: 360px;
  }
  
  .signature-pad--actions {
	overflow: hidden;
  }
  
  .signature-pad--actions > div:first-child {
	float: left;
  }
  
  .signature-pad--actions > div:last-child {
	float: right;
  }