.body {
	background-image: url(https://dzdx4ocwzatbw.cloudfront.net/sites/abmp.com/themes/abmp/images/generic_bg.jpg)
	
}

.container-main {
	display: flex;
	flex-direction: row;
 background-color:#3c83bf;
    height: 150px;
    width: 60%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;;
    font-size: 50px;
    color: white;
  text-align: center;
  margin: 0 auto;
padding-top:3%;
padding-left: 7%;




}


.navbar {
	width: 60%;
	margin: 0 auto;
	display: flex;
	align-content: center;
	padding-left: 16%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:14px;
}

#main-section {
	height: 500px;
	width: 60%;
	margin: 0 auto;
	background-color:#3c83bf;
	opacity: 0.9;
	color: white;
	border: solid;
	border-color: white;
	text-align: center;


}
/* Icons on index */
.payment{
	height: 500px;
}

/* Index intro */
.intro {
	text-align: left;
	border:solid;
	border-color: white;
	width: 100%;
	height: 150px;
	font-size: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	
}
/* Student Submit intro */
#studentIntro {
	background-color: rgb(197, 194, 194);
	text-align: center;
	padding-top: 5%;
	color: black;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

/* Pay Invoices intro */
#invoiceIntro {
	background-color: #569fd3;
	opacity: .8;
	text-align: center;
	padding-top: 2%;
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	
	
}

/* Index */
.whatsNew {
	background-color:#8eb519;
	font-family: cursive;
	text-align: center;
	font-size: 24px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* Index Icon row */
.iconsRow {
display: flex;
justify-content: center;
flex-direction: row;

align-content: space-around;

	
}
#studentCard{
	margin-right: 5%;
}

#invoiceCard{
	margin-right: 5%;
}

#renew {
	font-size: 14px;
}

/* submit student icon row */
.iconsRowStudent {
	padding-top: 5%;
	justify-content: center;
	display: flex;

	flex-direction: row;
	
	align-content:space-between;
	
		
	}


.card {
	height: 100px;
	width: 20%;
	
	color: black;

}

/* Submit student specific cards */
#excelCard {
	margin-right: 10%;
}
#mailCard {
	margin-bottom: 5%;
}

/* All cards */
.card-text {
	background-color: white;
	color: black;
	font-size: 14px;
}
.card-body{
	background-color: white;
}
.card-img-top{
	background-color: white;
}


.studentIcons {
	padding-top: 8%;
}

.card:hover{
opacity: 0.5;
}


 


/* Pay invoices page */
.tableDiv {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding-top: 5%;
	background-color: white;
	color: black;
	 border-color: grey;
	 border:solid;
}

.receiptBtn {
	background-color: #ff9900;


}


.payBtn {
	background-color: #8eb519;
}



